<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="firefox"/>
    <package id="discord"/>
    <package id="spotify"/>
    <package id="bitwarden"/>
    <package id="steam"/>
    <package id="calibre"/>
    <package id="adobereader"/>
    <package id="qbittorrent"/>
    <package id="vlc"/>
    <package id="7zip.install"/>
    <package id="powershell-core"/>
</packages>
