brew "bitwarden-cli"
brew "chezmoi"
brew "ffmpeg"
brew "fish"
brew "imagemagick"
brew "jq"
brew "poppler"
brew "sevenzip"
brew "xcodegen"
cask "bitwarden"
cask "discord"
cask "firefox"
cask "font-symbols-only-nerd-font"
cask "google-chrome"
cask "karabiner-elements"
cask "obsidian"
cask "raycast"
cask "shortcat"
cask "spotify"
cask "stremio"
cask "visual-studio-code"
cask "wezterm"
cask "zoom"
cask "ghostty"
cask "quarto"
cask "claude-code"
cask "calibre"
{{ range (include ".chezmoitemplates/vscode/extensions.txt" . | trim | splitList "\n") -}}
vscode "{{ . }}"
{{ end -}}
