set-option -s escape-time 10

# remap prefix from 'C-b' to 'C-a'
unbind C-b
set-option -g prefix C-a
bind-key C-a send-prefix

# Shortcut to reload config
bind r source-file ~/.tmux.conf \; display-message "Config reloaded..."

# Set mouse mode on
set -g mouse on

# Set focus events on
set-option -g focus-events on

# Set term color properly
set -g default-terminal "xterm-256color"
set -ga terminal-overrides ",*256col*:Tc"
# set-option -g default-terminal "tmux-256color" */
# set-option -sa terminal-overrides ',*256col*:RGB' */
# set-option -ga terminal-overrides ',XXX:Tc'

{{- if eq .chezmoi.os "windows" }}
# psmux plugins (Windows)
set -g @plugin 'psmux-plugins/ppm'
set -g @plugin 'psmux-plugins/psmux-resurrect'
set -g @plugin 'psmux-plugins/psmux-continuum'

set -g @continuum-restore 'on'

# Initialize PPM (keep at the very bottom)
run '~/.psmux/plugins/ppm/ppm.ps1'
{{- else }}
# tmux plugins (Linux/macOS)
set-environment -g TMUX_PLUGIN_MANAGER_PATH "$HOME/.tmux/plugins/"
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-continuum'

set -g @continuum-restore 'on'

# Use fish as default shell
{{- if eq .chezmoi.os "darwin" }}
set -g default-command /opt/homebrew/bin/fish
{{- else }}
set -g default-command /usr/bin/fish
{{- end }}

# Initialize TPM (keep at the very bottom)
run '~/.tmux/plugins/tpm/tpm'
{{- end }}
