{{ if eq .chezmoi.os "windows" }}

{{ template "ps1/bootstrap-common.ps1" . }}

Write-Header "Installing powershell modules"
Install-Module -Name PowerShellGet -Force
Install-Module -Name PSFzf
{{ end }}
