{{ if eq .chezmoi.os "windows" }}
#chezmoi: sudo:true

{{ template "ps1/bootstrap-common.ps1" . }}

Write-Header "Installing winget packages (CLI tools)"
$cliImportPath = $(Resolve-Path ~\.local\share\chezmoi\bootstrap\winget-packages-cli.json).Path
sudo winget import -i $cliImportPath --accept-source-agreements

{{ if not .isWorkDevBox }}
Write-Header "Installing machine winget packages (UI tools)"
$uiMachineFilePath = $(Resolve-Path ~\.local\share\chezmoi\bootstrap\winget-packages-ui-machine.json).Path
sudo winget import -i $uiMachineFilePath --accept-source-agreements

Write-Header "Installing user winget packages (UI tools)"
$uiUserFilePath = $(Resolve-Path ~\.local\share\chezmoi\bootstrap\winget-packages-ui-user.json).Path
winget import -i $uiUserFilePath --accept-source-agreements
{{ end }}
{{ end }}