{{ if eq .chezmoi.os "windows" }}
#chezmoi: sudo:true

{{ template "ps1/bootstrap-common.ps1" . }}

Write-Header "Installing kanata..."
# Define the download URL and target install path
$downloadUrl = "https://github.com/jtroo/kanata/releases/download/v1.9.0/kanata_cmd_allowed.exe"
$installDir = "C:\Program Files\kanata"
$installPath = Join-Path $installDir "kanata_cmd_allowed.exe"

# Check if the file already exists
if (-Not (Test-Path $installPath)) {
    Write-Host "File not found. Installing to $installPath..."

    # Create the directory if it doesn't exist
    if (-Not (Test-Path $installDir)) {
        New-Item -ItemType Directory -Path $installDir -Force | Out-Null
    }

    # Download the file
    Invoke-WebRequest -Uri $downloadUrl -OutFile $installPath

    Write-Host "Installation complete."
} else {
    Write-Host "File already exists at $installPath. Skipping download."
}

Write-Header "Setting up symlink to kanata config..."
$actualFilePath = "$HOME\.local\share\chezmoi\misc\kanata\kanata-win.kbd"
$configDir = "C:\ProgramData\kanata"
$symLinkPath = "$configDir\kanata-win.kbd"

# Create the directory if it doesn't exist
if (-Not (Test-Path $configDir)) {
    New-Item -ItemType Directory -Path $configDir -Force | Out-Null
}

New-Symlink -SymLinkPath $symLinkPath -TargetPath $actualFilePath

Write-Header "Writing scheduler task"
$taskName = "run-kanata"
$taskPath = "\ishaat\"
$taskXmlPath = "$HOME\AppData\Local\kanata\run-kanata.xml"

# Function to check if task exists
function TaskExists {
    param (
        [string]$Name,
        [string]$Path
    )
    try {
        $task = Get-ScheduledTask -TaskName $Name -TaskPath $Path -ErrorAction Stop
        return $true
    } catch {
        return $false
    }
}

if (-not (TaskExists -Name $taskName -Path $taskPath)) {
    Write-Host "Registering scheduled task '$taskPath$taskName'..."
    $xmlContent = Get-Content $taskXmlPath | Out-String
    Register-ScheduledTask -Xml $xmlContent -TaskName $taskName -TaskPath $taskPath
    Write-Host "Task registered successfully."
} else {
    Write-Host "Scheduled task '$taskPath$taskName' already exists. Skipping registration."
}
Register-ScheduledTask -Xml (Get-Content $taskXmlPath | Out-String) -TaskName "MyTaskName"

{{ end }}