[Desktop Entry]
Name=IntelliJ IDEA Ultimate (on twdevbox)
Icon=/home/ishaat/.local/share/JetBrains/Toolbox/apps/IDEA-U/ch-0/.icon.svg
StartupWMClass=jetbrains-idea
Comment=The Leading Java and Kotlin IDE
Exec=/usr/bin/distrobox-enter  -n twdevbox -- "bash /home/ishaat/.local/share/JetBrains/Toolbox/scripts/idea"  %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
StartupNotify=true
