{{ if ne .chezmoi.os "windows" }}#!/bin/sh

if ! test -d ~/.config/nvim; then
    echo "Setting up nvim config..."
    ln -s ~/.local/share/chezmoi/home/.config/nvim ~/.config/nvim
fi

if ! test -d ~/.config/fish; then
    echo "Setting up fish config..."
    ln -s ~/.local/share/chezmoi/home/.config/fish ~/.config/fish
fi
{{ end }}
