{{ if not (eq .chezmoi.os "windows") }}#!/bin/sh

if [ ! -d ~/.tmux/plugins/tpm ]; then
    echo "Installing tmux plugin manager (tpm)..."
    git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm
fi

if [ ! -d ~/.tmux/plugins/tmux-resurrect ]; then
    echo "Installing tmux-resurrect plugin..."
    git clone https://github.com/tmux-plugins/tmux-resurrect ~/.tmux/plugins/tmux-resurrect
fi

if [ ! -d ~/.tmux/plugins/tmux-continuum ]; then
    echo "Installing tmux-continuum plugin..."
    git clone https://github.com/tmux-plugins/tmux-continuum ~/.tmux/plugins/tmux-continuum
fi

if [ ! -d ~/.tmux/plugins/tmux-yank ]; then
    echo "Installing tmux-yank plugin..."
    git clone https://github.com/tmux-plugins/tmux-yank ~/.tmux/plugins/tmux-yank
fi
{{ end }}
