{{ if eq .chezmoi.os "windows" }}

{{- template "ps1/bootstrap-common.ps1" . -}}

Write-Header "Installing winget packages (CLI tools)"
winget import -i ~\.local\share\chezmoi\bootstrap\winget-packages-cli.json

Write-Header "Installing winget packages (UI tools)"
winget import -i ~\.local\share\chezmoi\bootstrap\winget-packages-ui.json
{{ end }}
