{{ if eq .chezmoi.os "windows" }}
#chezmoi: sudo:true

{{ template "ps1/bootstrap-common.ps1" . }}

Write-Header "Installing winget packages (CLI tools)"
winget import -i $(Resolve-Path ~\.local\share\chezmoi\bootstrap\winget-packages-cli.json).Path

{{ if not .isWorkDevBox }}
Write-Header "Installing winget packages (UI tools)"
winget import -i $(Resolve-Path ~\.local\share\chezmoi\bootstrap\winget-packages-ui.json).Path
{{ end }}

{{ end }}