{{ if eq .chezmoi.os "windows" }}
#chezmoi: sudo:true

{{ template "ps1/bootstrap-common.ps1" . }}

Write-Header "Setting up OpenSUSE Tumbleweed in WSL..."
$wslDistros = wsl.exe -l -q
if ($wslDistros -contains "openSUSE-Tumbleweed")
{
    Write-Host "openSUSE Tumbleweed is already installed"
}
else
{
    Write-Host "Installing openSUSE-Tumbleweed"
    wsl --install --distribution openSUSE-Tumbleweed
}
{{ end }}
