{{ if ne .chezmoi.os "windows" }}#!/bin/sh

echo "==> Downloading personal-gh-v3 ssh key..."
TARGET="$HOME/.ssh/personal-gh-v3"

if [ ! -f "$TARGET" ]; then
    echo "Writing personal-gh-v3 from Bitwarden..."
    mkdir -p "$HOME/.ssh"
    bw login
    bw get attachment personal-gh-v3 --itemid feb3d011-094e-4749-9cfb-ac22004ff685 --output "$TARGET"
    chmod 600 "$TARGET"
else
    echo "personal-gh-v3 already exists. Skipping."
fi

exit 0
{{ end }}
