{{ if eq .chezmoi.os "windows" }}

{{- template "ps1/bootstrap-common.ps1" . -}}

Write-Header "Adding Alt-Tab Terminator to PATH"
$p = [System.Environment]::GetEnvironmentVariable('Path',[System.EnvironmentVariableTarget]::Machine)
if (!$p.Contains("C:\Program Files\Alt-Tab Terminator"))
{
    Write-Header "Adding Alt-Tab Terminator to path"
    $p += ";C:\Program Files\Alt-Tab Terminator"
    [System.Environment]::SetEnvironmentVariable('Path',$p,[System.EnvironmentVariableTarget]::Machine);
}
{{ end }}
