[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
Environment=PATH=/usr/local/bin:/usr/local/sbin:/usr/bin:/bin
Environment=DISPLAY=:0
Type=simple
ExecStart=/home/ishaat/.local/share/chezmoi/misc/kanata/kanata_cmd_allowed --cfg /home/ishaat/.local/share/chezmoi/misc/kanata/kanata-linux.kbd
Restart=on-failure

[Install]
WantedBy=default.target
